<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/detail.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/detail.js"></script>
<% end %>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="thumbnail">
				<div class="rơ">
					<div class="col-md-5">
						<img class="img-responsive" src="/assets/product/3d-nguoi-nhen.jpg" alt="">
					</div>
					<div class="col-md-7">
						<div class="caption-full">
							<h4 class="pull-right">125.000</h4>
							<h4>Bộ thun in 3D người nhện</a>
							</h4>
							<p>
								Chất liệu Thun cotton 4 chiều co dãn, thấm hút mồ hôi<br>
								Xuất xứ Việt Nam
							</p>
							<p>
								Size 
								<select>
									<option>XS</option>
									<option>S</option>
									<option>M</option>
									<option>L</option>
									<option>XL</option>
								</select> 
							</p>
							<p>
								Màu
								<select>
									<option>Đỏ</option>
									<option>Vàng</option>
									<option>Xám</option>
									<option>Đen</option>
									<option>Nâu</option>
									<option>Xanh</option>
								</select> 
							</p>
						</div>
					</div>
				</div>
				<div class="form-register">
					<form>
						<div class="quantity form-group"> 
							<input type="number" step="1" min="1" mã="10" name="quantity" value="1" title="Số lượng" class="form-control">
							<button type="submit" class="btn btn-default">Đặt mua</button>
						</div>
					</form>
				</div>
			</div>		   
		</div>
	</div>
</div>
