<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/detail.css">
	<link rel="stylesheet" type="text/css" href="/assets/layout/css/style.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/detail.js"></script>
<% end %>

<%
	@_body_class = 'single single-product postid-1426 custom-background woocommerce woocommerce-page et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_secondary_nav_two_panels et_pb_gutter linux et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_right_sidebar chrome'
%>



<div id="et-main-area">
	<div id="main-content">
		<div class="container1">
			<div id="content-area" class="clearfix">
				<div id="left-area">
					<div itemscope="" itemtype="http://schema.org/Product" id="product-1426" class="post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
						<div class="images" style="opacity: 1;">
							<a href="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-saucer.jpg" itemprop="image" class="woocommerce-main-image zoom" title="" data-rel="prettyPhoto[product-gallery]">
								<img width="510" height="510" src="/assets/product/3d-nguoi-nhen.jpg" sizes="(max-width: 510px) 100vw, 510px">
							</a>
							<div class="thumbnails columns-3">
								<a href="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake.jpg" class="zoom first" title="" data-rel="prettyPhoto[product-gallery]">
									<img width="157" height="157" src="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake-157x157.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="chocolate-cupcake" title="chocolate-cupcake" srcset="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake-157x157.jpg 157w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake-150x150.jpg 150w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake-300x300.jpg 300w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake-400x400.jpg 400w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake-510x510.jpg 510w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/chocolate-cupcake.jpg 768w" sizes="(max-width: 157px) 100vw, 157px">
								</a>
								<a href="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes.jpg" class="zoom" title="" data-rel="prettyPhoto[product-gallery]">
									<img width="157" height="157" src="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes-157x157.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="cupcakes" title="cupcakes" srcset="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes-157x157.jpg 157w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes-150x150.jpg 150w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes-300x300.jpg 300w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes-400x400.jpg 400w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes-510x510.jpg 510w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcakes.jpg 768w" sizes="(max-width: 157px) 100vw, 157px">
								</a>
								<a href="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake.jpg" class="zoom last" title="" data-rel="prettyPhoto[product-gallery]">
									<img width="157" height="157" src="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-157x157.jpg" class="attachment-shop_thumbnail size-shop_thumbnail" alt="strawberry cupcake" title="strawberry cupcake" srcset="http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-157x157.jpg 157w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-150x150.jpg 150w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-300x300.jpg 300w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-400x400.jpg 400w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake-510x510.jpg 510w, http://www.elegantthemes.com/preview/Divi/wp-content/uploads/2014/04/cupcake.jpg 768w" sizes="(max-width: 157px) 100vw, 157px">
								</a>
							</div>
						</div>
						<div class="summary entry-summary">
							<h1 itemprop="name" class="product_title entry-title"><%= @product.name  %></h1>
							<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">

								<p class="price"><span class="amount"><%= @product.price  %></span>
							</div>
							<div itemprop="description">
								<p><%= @product.description  %></p>
								
							</div>
							<form class="variations_form cart" method="post" enctype="multipart/form-data" data-product_id="1426" data-product_variations="[{&quot;variation_id&quot;:3779,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:5,&quot;display_regular_price&quot;:5,&quot;attributes&quot;:{&quot;attribute_flavor&quot;:&quot;Strawberry&quot;},&quot;image_src&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-510x510.jpg&quot;,&quot;image_link&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake.jpg&quot;,&quot;image_title&quot;:&quot;strawberry cupcake&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-510x510.jpg 510w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-150x150.jpg 150w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-300x300.jpg 300w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-157x157.jpg 157w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-400x400.jpg 400w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake.jpg 768w&quot;,&quot;image_sizes&quot;:&quot;(max-width: 510px) 100vw, 510px&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;amount\&quot;>&amp;#36;5.00<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;},{&quot;variation_id&quot;:3780,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:5,&quot;display_regular_price&quot;:5,&quot;attributes&quot;:{&quot;attribute_flavor&quot;:&quot;Chocolate&quot;},&quot;image_src&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake-510x510.jpg&quot;,&quot;image_link&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake.jpg&quot;,&quot;image_title&quot;:&quot;chocolate-cupcake&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake-510x510.jpg 510w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake-150x150.jpg 150w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake-300x300.jpg 300w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake-157x157.jpg 157w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake-400x400.jpg 400w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/chocolate-cupcake.jpg 768w&quot;,&quot;image_sizes&quot;:&quot;(max-width: 510px) 100vw, 510px&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;amount\&quot;>&amp;#36;5.00<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;},{&quot;variation_id&quot;:3781,&quot;variation_is_visible&quot;:true,&quot;variation_is_active&quot;:true,&quot;is_purchasable&quot;:true,&quot;display_price&quot;:3,&quot;display_regular_price&quot;:3,&quot;attributes&quot;:{&quot;attribute_flavor&quot;:&quot;Vanilla&quot;},&quot;image_src&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer-510x510.jpg&quot;,&quot;image_link&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer.jpg&quot;,&quot;image_title&quot;:&quot;Cupcake &amp;#038; Sauser&quot;,&quot;image_alt&quot;:&quot;&quot;,&quot;image_srcset&quot;:&quot;http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer-510x510.jpg 510w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer-150x150.jpg 150w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer-300x300.jpg 300w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer-157x157.jpg 157w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer-400x400.jpg 400w, http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-content\/uploads\/2014\/04\/cupcake-saucer.jpg 768w&quot;,&quot;image_sizes&quot;:&quot;(max-width: 510px) 100vw, 510px&quot;,&quot;price_html&quot;:&quot;<span class=\&quot;price\&quot;><span class=\&quot;amount\&quot;>&amp;#36;3.00<\/span><\/span>&quot;,&quot;availability_html&quot;:&quot;&quot;,&quot;sku&quot;:&quot;&quot;,&quot;weight&quot;:&quot; kg&quot;,&quot;dimensions&quot;:&quot;&quot;,&quot;min_qty&quot;:1,&quot;max_qty&quot;:null,&quot;backorders_allowed&quot;:false,&quot;is_in_stock&quot;:true,&quot;is_downloadable&quot;:false,&quot;is_virtual&quot;:false,&quot;is_sold_individually&quot;:&quot;no&quot;,&quot;variation_description&quot;:&quot;&quot;}]">

								<div class="single_variation_wrap">
									<div class="woocommerce-variation-add-to-cart variations_button">
										<div class="quantity">
										<input type="number" step="1" min="1" max="10" name="quantity" value="1" title="Qty" class="input-text qty text" size="4">
										</div>
										<button type="submit" class="single_add_to_cart_button button alt">Add to cart</button>
										<input type="hidden" name="add-to-cart" value="1426">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div> 
			</div>
		</div>
	</div>
</div>