<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/detail.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/detail.js"></script>
<% end %>
<div class="container">


 <div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a href="#" class="list-group-item active">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="thumbnail">
            	<div class="row">
		            <div class="col-md-5">
		                <img class="img-responsive" src="/assets/product/ao-khoac-thun-be-trai-tron-tui-xe.jpg" alt="">
		            </div>
		            <div class="col-md-7">
		                <div class="caption-full">
		                    <h4 class="pull-right">$24.99</h4>
		                    <h4><a href="#">Product Name</a>
		                    </h4>
		                    <p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
		                    <p>Want to make these reviews work? Check out
		                        <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
		                        </strong>over at maxoffsky.com!</p>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		                </div>
		                <!-- <div class="ratings">
		                    <p class="pull-right">3 reviews</p>
		                    <p>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star"></span>
		                        <span class="glyphicon glyphicon-star-empty"></span>
		                        4.0 stars
		                    </p>
		                </div> -->
	                </div>
            	</div>
            	<div class="form-register">
            		<form>
						<div class="quantity form-group"> 
							<input type="number" step="1" min="1" max="10" name="quantity" value="1" title="Số lượng" class="form-control">
							<button type="submit" class="btn btn-default">Đặt mua</button>
						</div>
            		</form>
				</div>
            </div>

           

        </div>

    </div>

</div>
<!-- /.container -->