<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/list.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/list.js"></script>
<% end %>


<div class="gallery">
            <div class="container">
            <h3></h3>
            <div class="gallery-grids">
                <div class="col-md-3 gallery-grid ">
                    <a href="products.html">
                        <img src="/assets/product/dam-vai-be-gai-laluna-g046004.jpg" class="img-responsive" alt=""/>
                    </a>
                    <div class="galy-info">
                        <p>Đầm vải</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">120.000</h5>
                        </div>                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 gallery-grid">
                        <a href="products.html">
                            <img src="/assets/product/binh-dung-thuc-an-hut-chan-khong-elmich-el6844-500ml" class="img-responsive" alt=""/>
                        </a>
                    <div class="galy-info">
                        <p>Bình đựng thức ăn</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">250.000</h5>
                        </div>
                    
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid">
                        <a href="products.html">
                            <img src="/assets/product/bo-cham-soc-mong-cho-be-kidsme.jpg" class="img-responsive" alt=""/>
                        </a>
                    <div class="galy-info">
                        <p>Bộ chăm sóc móng</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">160.000</h5>
                        </div>
                    
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 gallery-grid">
                        <a href="products.html">
                            <img src="/assets/product/goi-nam-con-meo-25x27-nl" class="img-responsive" alt=""/>
                        </a>
                    <div class="galy-info">
                        <p>Gối con mèo</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">95.000</h5>
                        </div>                     
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid ">
                        <a href="products.html">
                            <img src="/assets/product/balo-carrot-con-tho-261130cm.jpg" class="img-responsive" alt=""/>
                        </a>
                    <div class="galy-info">
                        <p>Balo thỏ</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">215.000</h5>
                        </div>                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid">
                        <a href="products.html">
                            <img src="/assets/product/bot-an-dam-sot-voi-ca-hoi-va-rau-xanh-nhat-wakodo-7-thang.jpg" class="img-responsive" alt=""/>
                        </a>
                    <div class="galy-info simpleCart_shelfItem">
                        <p>Bột sốt cá hồi với rau xanh</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">210.000</h5>
                        </div>
                    
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid">
                        <a href="products.html">
                            <img src="/assets/product/sua-morinaga-hagukumi-0-6-thang-tuoi-850g.jpg" class="img-responsive" alt=""/>
                        </a>
                    <div class="galy-info simpleCart_shelfItem">
                        <p>Sữa morinaga hagukumi</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">250.000</h5>
                        </div>
                    
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 gallery-grid">
                        <a href="products.html">
                            <img src="/assets/product/ao-thun-tay-dai.jpg" class="img-responsive" alt=""/>
                        </a>
                    <div class="galy-info simpleCart_shelfItem">
                        <p>Áo thun tay dài</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">130.000</h5>
                        </div>
                    
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
        <div class="subscribe">
     <div class="container">
     <div class="subscribe1">
         <h4>the latest from swim wear</h4>
         </div>
         <div class="subscribe2">
         <form>
             <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
             <input type="submit" value="JOIN">
         </form>
     </div>
     <div class="clearfix"></div>
     </div>
</div>







                       
                        
                        