<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/list.css">
	<link rel="stylesheet" type="text/css" href="/assets/layout/page.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/list.js"></script>
<% end %>

<div class="et_pb_section  et_pb_section_1 et_pb_with_background et_section_regular">
	<div class=" et_pb_row et_pb_row_0">
		<div class="et_pb_column et_pb_column_4_4  et_pb_column_0">	
			<div class="et_pb_text et_pb_module et_pb_bg_layout_light et_pb_text_align_left  et_pb_text_0">
				<h1>Sản Phẩm</h1>
			</div> 
		</div> 	
	</div> 
	<div class=" et_pb_row et_pb_row_1">
		<div class="et_pb_column et_pb_column_4_4  et_pb_column_1">
			<div class="et_pb_module et_pb_shop  et_pb_shop_0 et_pb_shop_grid">
				<div class="woocommerce columns-0">
					<ul class="products">
						<li class="first post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
							<a href="http://localhost:3000/product/detail">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/3d-nguoi-nhen.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ thun in 3D người nhện</h3>
								<span class="price">
									<span class="amount">125.000</span>
								</span>
							</a>
						</li>
						<li class="first post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
							<a href="http://localhost:3000/product/detail">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/thun-in-nike.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ thun in Nike</h3>
								<span class="price">
									<span class="amount">113.000</span>
								</span>
							</a>
						</li>							
						<li class="post-1432 product type-product status-publish has-post-thumbnail product_cat-kitchen product_cat-shop product_tag-retro pa_color-blue pa_color-green pa_color-orange pa_color-red pa_color-yello pa_material-metal pa_size-large pa_size-medium pa_size-small featured shipping-taxable purchasable product-type-simple product-cat-kitchen product-cat-shop product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/thun-soc-chu-gap.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ thun sọc chữ GAP</h3>
								<span class="price">
									<span class="amount">99.000</span>
								</span>
							</a>
						</li>				
						<li class="last post-1433 product type-product status-publish has-post-thumbnail product_cat-shop product_cat-technology product_tag-retro pa_color-green pa_color-orange pa_color-yello pa_material-metal pa_size-medium pa_size-small sale featured shipping-taxable purchasable product-type-simple product-cat-shop product-cat-technology product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/thun-micky.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ thun Micky</h3>
								<span class="price">
									<span class="amount">126.000</span>
								</span>
							</a>
						</li>		
						<li class="first post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/ao-day-quan-bi.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ áo dây quần bi ống suông</h3>
								<span class="price">
									<span class="amount">122.000</span>
								</span>
							</a>
						</li>	
						<li class="first post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/yem-thun-hellokitty.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ yếm thun Hellokitty</h3>
								<span class="price">
									<span class="amount">125.000</span>
								</span>
							</a>
						</li>						
						<li class="post-1432 product type-product status-publish has-post-thumbnail product_cat-kitchen product_cat-shop product_tag-retro pa_color-blue pa_color-green pa_color-orange pa_color-red pa_color-yello pa_material-metal pa_size-large pa_size-medium pa_size-small featured shipping-taxable purchasable product-type-simple product-cat-kitchen product-cat-shop product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/ngoi-nha-quan-jeans.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ ngôi nhà quần jean mềm</h3>
								<span class="price">
									<span class="amount">125.000</span>
								</span>
							</a>
						</li>				
						<li class="last post-1433 product type-product status-publish has-post-thumbnail product_cat-shop product_cat-technology product_tag-retro pa_color-green pa_color-orange pa_color-yello pa_material-metal pa_size-medium pa_size-small sale featured shipping-taxable purchasable product-type-simple product-cat-shop product-cat-technology product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/jumpsuilt-jean.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ Jumpsuilt jean mềm</h3>
								<span class="price">
									<span class="amount">145.000</span>
								</span>
							</a>
						</li>
						<li class="first post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/quan-lung-jean-thun.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Quần lửng jean thun</h3>
								<span class="price">
									<span class="amount">105.000</span>
								</span>
							</a>
						</li>
						<li class="first post-1426 product type-product status-publish has-post-thumbnail product_cat-food product_cat-shop product_tag-food featured shipping-taxable purchasable product-type-variable product-cat-food product-cat-shop product-tag-food has-default-attributes has-children instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/dam-kate-hoa.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Đầm Kate đính hoa</h3>
								<span class="price">
									<span class="amount">135.000</span>
								</span>
							</a>
						</li>			
						<li class="post-1432 product type-product status-publish has-post-thumbnail product_cat-kitchen product_cat-shop product_tag-retro pa_color-blue pa_color-green pa_color-orange pa_color-red pa_color-yello pa_material-metal pa_size-large pa_size-medium pa_size-small featured shipping-taxable purchasable product-type-simple product-cat-kitchen product-cat-shop product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/yem-jean-tua-lai.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Yếm jean tua lai</h3>
								<span class="price">
									<span class="amount">135.000</span>
								</span>
							</a>
						</li>				
						<li class="last post-1433 product type-product status-publish has-post-thumbnail product_cat-shop product_cat-technology product_tag-retro pa_color-green pa_color-orange pa_color-yello pa_material-metal pa_size-medium pa_size-small sale featured shipping-taxable purchasable product-type-simple product-cat-shop product-cat-technology product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/ao-thun-dai-tay-polo.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Áo thun dài tay Polo</h3>
								<span class="price">
									<span class="amount">105.000</span>
								</span>
							</a>
						</li>
						<li class="last post-1433 product type-product status-publish has-post-thumbnail product_cat-shop product_cat-technology product_tag-retro pa_color-green pa_color-orange pa_color-yello pa_material-metal pa_size-medium pa_size-small sale featured shipping-taxable purchasable product-type-simple product-cat-shop product-cat-technology product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/super-mario.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Bộ lửng thun in Super Mario</h3>
								<span class="price">
									<span class="amount">115.000</span>
								</span>
							</a>
						</li>
						<li class="last post-1433 product type-product status-publish has-post-thumbnail product_cat-shop product_cat-technology product_tag-retro pa_color-green pa_color-orange pa_color-yello pa_material-metal pa_size-medium pa_size-small sale featured shipping-taxable purchasable product-type-simple product-cat-shop product-cat-technology product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/dam-voan-buom.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Đầm thun thêu bướm</h3>
								<span class="price">
									<span class="amount">139.000</span>
								</span>
							</a>
						</li>
						<li class="last post-1433 product type-product status-publish has-post-thumbnail product_cat-shop product_cat-technology product_tag-retro pa_color-green pa_color-orange pa_color-yello pa_material-metal pa_size-medium pa_size-small sale featured shipping-taxable purchasable product-type-simple product-cat-shop product-cat-technology product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/dam-phi-hoa.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Đầm phi hoa</h3>
								<span class="price">
									<span class="amount">155.000</span>
								</span>
							</a>
						</li>
						<li class="last post-1433 product type-product status-publish has-post-thumbnail product_cat-shop product_cat-technology product_tag-retro pa_color-green pa_color-orange pa_color-yello pa_material-metal pa_size-medium pa_size-small sale featured shipping-taxable purchasable product-type-simple product-cat-shop product-cat-technology product-tag-retro instock">
							<a href="#">
								<span class="et_shop_image">
									<img width="400" height="400" src="/assets/product/ao-so-mi-co-phoi.jpg" sizes="(max-width: 400px) 100vw, 400px">
									<span class="et_overlay"></span>
								</span>
								<h3>Áo sơ mi cổ phối</h3>
								<span class="price">
									<span class="amount">118.000</span>
								</span>
							</a>
						</li>							
					</ul>		
				</div>
			</div>
		</div>
	<ul id="pagination-flickr">
	   <li class="previous-off">«Previous</li>
	   <li class="active">1</li>
	   <li><a href="?page=2">2</a></li>
	   <li><a href="?page=3">3</a></li>
	   <li><a href="?page=4">4</a></li>
	   <li><a href="?page=5">5</a></li>
	   <li><a href="?page=6">6</a></li>
	   <li><a href="?page=7">7</a></li>
	   <li class="next"><a href="?page=2">Next »</a></li>
	</ul>		
	</div> 
</div>


					   
						
						