<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/product/list.css">
<% end %>

<% content_for :javascripts do %>
	<script type="text/javascript" src="/assets/product/list.js"></script>
<% end %>


<div class="gallery">
            <div class="container">
            <h3>Featured products</h3>
            <div class="gallery-grids">
                <div class="col-md-3 gallery-grid ">
                    <a href="products.html"><img src="images/g1.png" class="img-responsive" alt=""/>
                    <div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 gallery-grid">
                        <a href="products.html"><img src="images/g2.png" class="img-responsive" alt=""/>
                        <div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid">
                        <a href="products.html"><img src="images/g3.png" class="img-responsive" alt=""/>
                        <div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 gallery-grid">
                        <a href="products.html"><img src="images/g4.png" class="img-responsive" alt=""/>
                        <div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid ">
                        <a href="products.html"><img src="images/g5.jpg" class="img-responsive" alt=""/>
                        <div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid">
                        <a href="products.html"><img src="images/g6.jpg" class="img-responsive" alt=""/>
                        <div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info simpleCart_shelfItem">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                    <div class="col-md-3 gallery-grid">
                        <a href="products.html"><img src="images/g7.jpg" class="img-responsive" alt=""/><div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info simpleCart_shelfItem">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="col-md-3 gallery-grid">
                        <a href="products.html"><img src="images/g8.jpg" class="img-responsive" alt=""/>
                        <div class="gallery-info">
                    <div class="quick">
                    <p><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> view</p>
                    </div>
                    </div></a>
                    <div class="galy-info simpleCart_shelfItem">
                        <p>Amour Women’s Amour...</p>
                        <div class="galry">
                        <div class="prices">
                        <h5 class="item_price">$95.00</h5>
                        </div>
                    <div class="rating">
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                    <span>☆</span>
                                </div>
                        
                    <div class="clearfix"></div>
                    </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        </div>
        <div class="subscribe">
     <div class="container">
     <div class="subscribe1">
         <h4>the latest from swim wear</h4>
         </div>
         <div class="subscribe2">
         <form>
             <input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
             <input type="submit" value="JOIN">
         </form>
     </div>
     <div class="clearfix"></div>
     </div>
</div>






<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Category 1</a>
                <a href="#" class="list-group-item">Category 2</a>
                <a href="#" class="list-group-item">Category 3</a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/product/ao-vai-caro.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$24.99</h4>
                            <h4><a href="#">First Product</a>
                            </h4>
                            <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/product/dam-vai-be-gai-laluna-g046004.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$64.99</h4>
                            <h4><a href="#">Second Product</a>
                            </h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">12 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/product/ao-thun-tay-dai.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$74.99</h4>
                            <h4><a href="#">Third Product</a>
                            </h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">31 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/product/ao-khoac-thun-be-trai-tron-tui-xe.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$84.99</h4>
                            <h4><a href="#">Fourth Product</a>
                            </h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">6 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="/assets/product/bot-an-dam-sot-voi-ca-hoi-va-rau-xanh-nhat-wakodo-7-thang.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right">$94.99</h4>
                            <h4><a href="#">Fifth Product</a>
                            </h4>
                            <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">18 reviews</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <h4><a href="#">Like this template?</a>
                    </h4>
                    <p>If you like this template, then check out <a target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this tutorial</a> on how to build a working review system for your online store!</p>
                    <a class="btn btn-primary" target="_blank" href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">View Tutorial</a>
                </div>

            </div>

        </div>

    </div>

</div>

