<!DOCTYPE html>
<html lang="en-US" class="js"><!--<![endif]--><head>
	<meta charset="UTF-8">
			
	
	<link rel="pingback" href="http://www.elegantthemes.com/preview/Divi/xmlrpc.php">

	<script async="" src="//connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<title></title>
	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/shared/layout.css">
	<%= yield :stylesheets %>
<meta name="robots" content="noindex,follow">
<link rel="alternate" type="application/rss+xml" title="Divi, The Ultimate WordPress Theme » Feed" href="http://www.elegantthemes.com/preview/Divi/feed/">
<link rel="alternate" type="application/rss+xml" title="Divi, The Ultimate WordPress Theme » Comments Feed" href="http://www.elegantthemes.com/preview/Divi/comments/feed/">
<link rel="alternate" type="application/rss+xml" title="Divi, The Ultimate WordPress Theme » Homepage Shop Comments Feed" href="http://www.elegantthemes.com/preview/Divi/homepage-shop/feed/">
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/www.elegantthemes.com\/preview\/Divi\/wp-includes\/js\/wp-emoji-release.min.js?ver=3cd76bdca161a327f0ea9ccbab5a717c"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script><script src="http://www.elegantthemes.com/preview/Divi/wp-includes/js/wp-emoji-release.min.js?ver=3cd76bdca161a327f0ea9ccbab5a717c" type="text/javascript"></script>
		<meta content="Divi v.2.7.3" name="generator"><style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel="stylesheet" id="woocommerce-layout-css" href="//www.elegantthemes.com/preview/Divi/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.5.5" type="text/css" media="all">
<link rel="stylesheet" id="woocommerce-smallscreen-css" href="//www.elegantthemes.com/preview/Divi/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.5.5" type="text/css" media="only screen and (max-width: 768px)">
<link rel="stylesheet" id="woocommerce-general-css" href="//www.elegantthemes.com/preview/Divi/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.5.5" type="text/css" media="all">
<link rel="stylesheet" id="wp-pagenavi-css" href="http://www.elegantthemes.com/preview/Divi/wp-content/plugins/wp-pagenavi/pagenavi-css.css?ver=2.70" type="text/css" media="all">
<link rel="stylesheet" id="divi-fonts-css" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;subset=latin,latin-ext" type="text/css" media="all">
<link rel="stylesheet" id="divi-style-css" href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/style.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="et-shortcodes-css-css" href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="et-shortcodes-responsive-css-css" href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes_responsive.css?ver=2.7.3" type="text/css" media="all">
<link rel="stylesheet" id="magnific-popup-css" href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/includes/builder/styles/magnific_popup.css?ver=2.7.3" type="text/css" media="all">
<script type="text/javascript" src="http://www.elegantthemes.com/preview/Divi/wp-includes/js/jquery/jquery.js?ver=1.12.3"></script>
<script type="text/javascript" src="http://www.elegantthemes.com/preview/Divi/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.0"></script>
<link rel="https://api.w.org/" href="http://www.elegantthemes.com/preview/Divi/wp-json/">
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://www.elegantthemes.com/preview/Divi/xmlrpc.php?rsd">
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://www.elegantthemes.com/preview/Divi/wp-includes/wlwmanifest.xml"> 

<link rel="canonical" href="http://www.elegantthemes.com/preview/Divi/homepage-shop/">
<link rel="shortlink" href="http://www.elegantthemes.com/preview/Divi/?p=2896">
<link rel="alternate" type="application/json+oembed" href="http://www.elegantthemes.com/preview/Divi/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.elegantthemes.com%2Fpreview%2FDivi%2Fhomepage-shop%2F">
<link rel="alternate" type="text/xml+oembed" href="http://www.elegantthemes.com/preview/Divi/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fwww.elegantthemes.com%2Fpreview%2FDivi%2Fhomepage-shop%2F&amp;format=xml">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">		<style id="theme-customizer-css">
																																																													
		
																														
		@media only screen and ( min-width: 981px ) {
																																																			
					}
		@media only screen and ( min-width: 1350px) {
			.et_pb_row { padding: 27px 0; }
			.et_pb_section { padding: 54px 0; }
			.single.et_pb_pagebuilder_layout.et_full_width_page .et_post_meta_wrapper { padding-top: 81px; }
			.et_pb_section.et_pb_section_first { padding-top: inherit; }
			.et_pb_fullwidth_section { padding: 0; }
		}
		@media only screen and ( max-width: 980px ) {
																				}
		@media only screen and ( max-width: 767px ) {
														}
	</style>

	
	
	<style id="module-customizer-css">
			</style>

			<style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
		<style type="text/css" id="custom-background-css">
body.custom-background { background-color: #ffffff; }
</style>

<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '967149496645973');
fbq('track', "PageView");</script>
<noscript>&lt;img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=967149496645973&amp;ev=PageView&amp;noscript=1"
/&gt;</noscript>
<!-- End Facebook Pixel Code --><style type="text/css" id="et-custom-css">
.et_vertical_nav #top-menu #menu-item-4692, .et_vertical_nav #top-menu #menu-item-24, .et_vertical_nav #top-menu #menu-item-4692, .et_vertical_nav #top-menu #menu-item-3975, .et_vertical_nav #top-menu #menu-item-4347 { display: none !important; }
.menu-item-4982 { display: none; }

body.page-id-2404 #menu-item-3577 ul li a { color: #666666 !important; }

.et_pb_row:last-child .et_pb_image_sticky:last-child { margin-bottom: -50px !important; display: inherit; }
.et_pb_image_sticky { margin-bottom: 0px !important; display: inherit; }
</style>
<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}
</style>
<script async="true" type="text/javascript" src="http://a.adroll.com/j/roundtrip.js">
	
</script>
<script async="true" type="text/javascript" src="https://d.adroll.com/pixel/NYQRXJDWBBHNDKEQK5JJ3L/ACITJUSNKBHSJN23X6Q2HT?pv=55981641788.306404&amp;cookie=NYQRXJDWBBHNDKEQK5JJ3L%3A43%7CACITJUSNKBHSJN23X6Q2HT%3A43%7CTEI5LRNOGRC47DLYOD3RXH%3A43&amp;adroll_s_ref=&amp;keyw=">
	
</script>
<div style="width: 1px; height: 1px; display: inline; position: absolute;">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/index/out">
<img height="1" width="1" style="border-style:none;" alt="" src="https://d.adroll.com/cm/n/out">
</div>
<div style="width: 1px; height: 1px; display: inline; position: absolute;">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/r/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/b/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/x/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/l/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/o/out">
<img height="1" width="1" style="border-style:none;" alt="" src="http://d.adroll.com/cm/g/out?google_nid=adroll4">
<img height="1" width="1" style="border-style:none;" alt="" src="http://googleads.g.doubleclick.net/pagead/viewthroughconversion/933633792/?label=zJTSCNCemwoQgL6YvQM&amp;guid=ON&amp;script=0&amp;ord=234628649623653.8">
</div>
</head>




<body class="page page-id-2896 page-template-default custom-background et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_secondary_nav_two_panels et_pb_gutter windows et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar chrome">
	
	<div id="page-container" class="et-animated-content" style="padding-top: 111px; margin-top: -27px;">

			<div id="top-header" class="et-fixed-header">
				<div class="container clearfix">
					<div id="et-info">				
						<ul class="et-social-icons">
							
						</ul>	
					</div>
					<div id="et-secondary-menu">
						<div class="et_duplicate_social_icons">
							<ul class="et-social-icons">						
							</ul>
						</div>
							<ul id="et-secondary-nav" class="menu">
							</ul>
						<span>0 Items</span>
					</div> 
				</div>
			</div> 

	
	
<header id="main-header" data-height-onload="80" data-height-loaded="true" class="et-fixed-header" style="top: 31px;">
	<div class="container clearfix et_menu_container">
		<div class="logo_container">
		<span class="logo_helper"></span>
		</div>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Trang Chủ</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li ><a href="" target="_blank">Đăng Ký</span></a></li>
					<li><a href="" target="_blank" >Đăng Nhập</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bé Trai <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Áo</a></li>
							<li><a href="#">Quần Kaki</a></li>
							<li><a href="#">Quần Jeans</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bé Gái <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Đầm</a></li>
							<li><a href="#">Quần</a></li>
							<li><a href="#">Áo</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bé Ngủ <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Nệm</a></li>
								<li><a href="#">Chăn</a></li>
								<li><a href="#">Gối</a></li>
							</ul>							
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ra Ngoài <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Xe đạp</a></li>
							<li><a href="#">Xe đẩy</a></li>
							<li><a href="#">Xe tập đi</a></li>
						</ul>
					</li>				
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vệ Sinh<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Khăn</a></li>
							<li><a href="#">Tả Quần</a></li>
							<li><a href="#">Dầu Gội</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sức Khoẻ<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Nhiệt Kế</a></li>
							<li><a href="#">Dầu Khuynh Diệp</a></li>
							<li><a href="#">Cân</a></li>
						</ul>
					</li>
				
					</ul>
			</div>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
						<input type="text" class="form-control" placeholder="Tìm Kiếm">
						</div>
						<button type="submit" class="btn btn-default">Tìm Kiếm</button>

					</form>								
				</div>
			</div>
	</nav>
		<%= yield %>		
											
	<div id="footer-bottom">
		<div class="container clearfix">
			Quần Áo Trẻ Em
		</div>
	</div>
	<script type="text/javascript" src= "/assets/shared/jquery-1.12.3.min.js"></script>
		<script type="text/javascript" src= "/assets/shared/bootstrap.min.js"></script>
		<%= yield :javascripts %>
</header>
</body>
</html>
	