	<div class="dn">
		Đăng Nhập
	</div>
	<form class="form_dangnhap">
			<div class="form-group">
				<label>Tài Khoản</label>
				<input type="email" class="form-control" placeholder="Email">
			</div><p>
			<div class="form-group">
				<label>Mật khẩu</label>
				<input type="password" class="form-control" id="Pasword" placeholder="Mật Khẩu">
			</div><p> 
			<div class="checkbox">
				<label>
					<input type="checkbox">Ghi Nhớ
				</label>
			</div><p> 
				<button type="submit" class="btn btn-default">Đăng Nhập</button>
	</form>
	