
<!DOCTYPE HTML>
<html>
<head>
	<title>Swim Wear a E-Commerce online Shopping Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
	<link href="/assets/layout/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="/assets/layout/css/owl.carousel.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Swim Wear Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!-- cart -->
	<script src="/assets/layout/js/simpleCart.min.js"> </script>
	<!-- cart -->
	<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
	<%= yield :stylesheets %>
</head>
<body>
	<!--header-->
	<div class="header">
		<div class="header-top">
			<div class="container">
				<div class="lang_list">
					
					</div>
				<div class="top-right">
					<ul>
						<li class="text">
							<a href="/">Đăng Ký</a>
						</li>
						<li class="text">
							<a href="/">Đăng Nhập</a>
						</li>
						<li>
							<div class="cart box_1">
								<a href="checkout.html">
									
									<span id="simpleCart_quantity" class="simpleCart_quantity"> 0 
									</span>
								</a>	
								<p><a href="javascript:;" class="simpleCart_empty">Giỏ hàng</a></p>
								<div class="clearfix"> </div>
							</div>
						</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<div class="header-bottom">
	<div class="container">
		<div class="content white">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<h1 class="navbar-brand"><a  href="index.html">KID</a></h1>
				</div>
				<!--/.navbar-header-->
			
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
					<li><a href="index.html">Home</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bé Trai <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a class="list" href="/">Quần</a></li>
											<li><a class="list" href="/">Áo</a></li>
											<li><a class="list" href="/">Phụ Kiện</a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bé Gái <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-4">
									   <ul class="multi-column-dropdown">
											<li><a class="list" href="/">Quần</a></li>
											<li><a class="list" href="/">Áo</a></li>
											<li><a class="list" href="/">Đầm</a></li>
											<li><a class="list" href="/">Phụ Kiện</a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bé Ngủ <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a class="list" href="/">Nệm</a></li>
											<li><a class="list" href="/">Chăn</a></li>
											<li><a class="list" href="/">Gối</a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Bé Ăn <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a class="list" href="/">Sữa</a></li>
											<li><a class="list" href="/">Bình Nước</a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Sức Khỏe <b class="caret"></b></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="row">
									<div class="col-sm-4">
										<ul class="multi-column-dropdown">
											<li><a class="list" href="/">Nhiệt Kế</a></li>
											<li><a class="list" href="/">Dầu</a></li>
										</ul>
									</div>
								</div>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>		 
	</div>
</div>

<%= yield %>

<!--footer-->
<div class="footer-section">
	<div class="container">
		
			<div class="col-md-4 footer-grid1">
			<div class="social-icons">
				<a href="#"><i class="icon"></i></a>
				<a href="#"><i class="icon1"></i></a>
				<a href="#"><i class="icon2"></i></a>
				<a href="#"><i class="icon3"></i></a>
				<a href="#"><i class="icon4"></i></a>
			</div>
			<p>Copyright &copy; 2015 Swim Wear. All rights reserved | Design by <a href="http://w3layouts.com">Layouts</a></p>
			</div>
		<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--footer-->

<script type="text/javascript" src= "/assets/shared/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src= "/assets/shared/bootstrap.min.js"></script>
<%= yield :javascripts %>

</body>
</html>