<html lang="en-US" class="js"><!--<![endif]--><head>
	<meta charset="UTF-8">
			
	<link rel="pingback" href="http://www.elegantthemes.com/preview/Divi/xmlrpc.php">

	<script async="" src="//connect.facebook.net/en_US/fbevents.js"></script><script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<title>Clothes_Shop</title>
	<meta name="robots" content="noindex,follow">
		
	<link rel="stylesheet" id="woocommerce-layout-css" href="//www.elegantthemes.com/preview/Divi/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css?ver=2.5.5" type="text/css" media="all">
	<link rel="stylesheet" id="woocommerce-smallscreen-css" href="//www.elegantthemes.com/preview/Divi/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css?ver=2.5.5" type="text/css" media="only screen and (max-width: 768px)">
	<link rel="stylesheet" id="woocommerce-general-css" href="//www.elegantthemes.com/preview/Divi/wp-content/plugins/woocommerce/assets/css/woocommerce.css?ver=2.5.5" type="text/css" media="all">
	
	<link rel="stylesheet" id="divi-style-css" href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/style.css?ver=2.7.4" type="text/css" media="all">
	<link rel="stylesheet" id="et-shortcodes-css-css" href="http://www.elegantthemes.com/preview/Divi/wp-content/themes/Divi/epanel/shortcodes/css/shortcodes.css?ver=2.7.4" type="text/css" media="all">
	
	<script type="text/javascript" src="http://www.elegantthemes.com/preview/Divi/wp-includes/js/jquery/jquery.js?ver=1.12.3"></script>
	<script type="text/javascript" src="http://www.elegantthemes.com/preview/Divi/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.0"></script>
<link rel="stylesheet" type="text/css" href="/assets/shared/bootstrap.min.css">
<!-- <link rel="stylesheet" type="text/css" href="/assets/layout/css/bootstrap.css"> -->
<link rel="stylesheet" type="text/css" href="/assets/layout/css/page.css">
<link rel="stylesheet" type="text/css" href="/assets/layout/css/style.css">

<%= yield :stylesheets %>
</head>
<body class="<%= @_body_class %> page page-id-2896 page-template-default custom-background et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_secondary_nav_enabled et_secondary_nav_two_panels et_pb_gutter linux et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar chrome">
	<div id="page-container" class="et-animated-content" style="padding-top: 111px; margin-top: -1px;">
		<div id="top-header" class="">
			<div class="container1 clearfix"> 
				<div id="et-secondary-menu">
				<div class="et_duplicate_social_icons">	
				</div>
					<ul id="et-secondary-nav" class="menu">
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5707">
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5706">
								<a href="/user/login">Đăng Nhập</a>
							</li>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5709">
							<a href="/user/register">Đăng Ký</a>
						</li>
					</ul>
					<a href="/product/cart" class="et-cart-info">
						<span>Giỏ Hàng</span>
					</a>				
					</div> 

			</div> 
		</div> 
	
	
		<header id="main-header" data-height-onload="80" data-height-loaded="true" class="" style="top: 31px;">
			<div class="container1 clearfix et_menu_container">
				<div class="logo_container">
					<span class="logo_helper"></span>
					<a href="/product/list">
							<img src="/assets/product/logo.png" alt="Divi, The Ultimate WordPress Theme" id="logo" data-height-percentage="54" data-actual-width="93" data-actual-height="43">
					</a>
				</div>
				
				<div id="et-top-navigation" data-height="66" data-fixed-height="40" >
					<nav id="top-menu-nav">
						<ul id="top-menu" class="nav">
							<li id="menu-item-3575" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5325">
								<a href="#">Quần Áo Bé Trai</a>
									<ul class="sub-menu">
										<li id="menu-item-3596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3596">
											<a href="#">Đồ bộ cho bé trai </a>
										</li>
										<li id="menu-item-5878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5878">
											<a href="#">Quần cho bé trai</a>
										</li>
										<li id="menu-item-5131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5131">
											<a href="#">Áo cho bé trai</a>
										</li>
									</ul>
							</li>
							<li id="menu-item-3575" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-5325">
								<a href="#">Quần Áo Bé Gái</a>
									<ul class="sub-menu">
										<li id="menu-item-3596" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3596">
											<a href="#">Đồ bộ cho bé gái</a>
										</li>
										<li id="menu-item-5878" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5878">
											<a href="#">Váy đầm cho bé gái</a>
										</li>
										<li id="menu-item-5131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5131">
											<a href="#">Quần cho bé gái</a>
										</li>
										<li id="menu-item-5131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5131">
											<a href="#">Áo cho bé gái</a>
										</li>
									</ul>
							</li>
							
						</ul>	
					</nav>
				</div>
				
			</div>			
		</header> 
<div class="et_pb_section et_pb_fullwidth_section  et_pb_section_0 et_section_regular">		
	<div class="et_pb_module et_pb_slider  et_pb_fullwidth_slider_0 et_pb_bg_layout_dark">
		<div class="et_pb_slides">
			<div class="et_pb_slide et_pb_slide_with_image et_pb_bg_layout_dark et_pb_media_alignment_center et_pb_slide_0 et-pb-active-slide" style="background-color:white; ">
				<marquee id="marq" scrollamount="10" direction="left" loop="10" scrolldelay="0" behavior="alternate">
					<img src="/assets/product/layout.jpg" alt="" class="active" width="1500">
					<img src="/assets/product/layout1.jpg" alt="" class="active" width="513">
					<img src="/assets/product/layout2.jpg" alt="" class="active" width="400">
					<img src="/assets/product/layout3.jpg" alt="" class="active" width="813">
					<!--<img src="/assets/product/layout3.jpg" alt="" class="active" style="max-height: 406px;">!-->
				</marquee>
			</div>
		</div> 
	</div> 		
</div>
<div id="content" role="main">
	 <div class="l-pageWrapper"></div>
</div>  


<%= yield %>

<footer id="main-footer">
	<div id="footer-bottom">
		<div class="container1 clearfix">
			<ul class="et-social-icons">	
			</ul>
			<p id="footer-info">Designed by 
				<a href="http://www.elegantthemes.com" title="Premium WordPress Themes">Elegant Themes</a> | Powered by 
				<a href="http://www.wordpress.org">WordPress</a>
			</p>
		</div>	
	</div>		
</footer>
<script type="text/javascript" src= "/assets/shared/jquery-1.12.3.min.js"></script>
<script type="text/javascript" src= "/assets/shared/bootstrap.min.js"></script>
<%= yield :javascripts %>
</body></html>